<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout_admin}">


<head>
  <meta charset="UTF-8">
  <title>Home - ESSENCE</title>

</head>
<body>
<div layout:fragment="layout_admin" >
  <div class="right_col" role="main" style="min-height: 1278.8px;">
    <div class="">
      <div class="page-title">

        <div class="title_right">
          <div class="col-md-5 col-sm-5   form-group pull-right top_search">

          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Products</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Settings 1</a>
                    <a class="dropdown-item" href="#">Settings 2</a>
                  </div>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <!-- start project list -->
              <table class="table">
                <thead>
                <tr>
                <tr class="text-center">
                  <th>ID</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Image</th>
                  <th>Quantity</th>
                  <th>Total Price</th>
                </tr>
                </thead>
                <tr>
                <tr class="text-center" th:each="item, index : ${invoice}">
                  <td th:text="${index.count}"></td>
                  <td th:text="${item.product.nameProduct}"></td>
                  <td th:text="${item.product.priceProduct + '$'}"></td>
                  <td>
                    <img width="100px" height="100px" th:src="${item.product.imgProduct}" alt="">
                  </td>
                  <td th:text="${item.quantity}"></td>
                  <td th:text="${item.totalPrice + '$'}"></td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>>

