<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout_admin}">


<head>
  <meta charset="UTF-8">
  <title>Home - ESSENCE</title>

</head>
<body>
<div layout:fragment="layout_admin" >
  <div class="right_col" role="main" style="min-height: 1278.8px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <a type="button" th:href="@{product/addproduct}" class="btn btn-round btn-primary">Add Product</a>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5   form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Products</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Settings 1</a>
                    <a class="dropdown-item" href="#">Settings 2</a>
                  </div>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <!-- start project list -->
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Category</th>
                  <th>Name Product</th>
                  <th>Image</th>
                  <th>Price</th>
                  <th>View</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${listProducts}">
                  <td th:text="${product.idProduct}"></td>
                  <td th:text="${product.category.getName()}"></td>
                  <td th:text="${product.nameProduct}"></td>
                  <td>
                    <img th:src="${product.imgProduct}" style="width: 100px; height: 100px">
                  </td>
                  <td th:text="${product.priceProduct} + '$'"></td>
                  <td th:text="${product.viewProduct + ' view'}"></td>
                  <td>
                    <a th:href="@{/admin/product/viewproduct/{id}(id=${product.idProduct})}" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View</a>
                    <a th:href="@{/admin/product/edit/{id}(id=${product.idProduct})}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit</a>
                    <a th:href="@{/admin/product/deleteproduct/{id}(id=${product.idProduct})}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete</a>
                  </td>
                </tr>
                </tbody>
              </table>

              <nav aria-label="navigation">
                <ul class="pagination mt-50 mb-70">
                  <li class="page-item">
                    <a class="page-link" th:if="${currentPage > 1}" th:href="@{/admin/product/page/{pageNo}(pageNo=${currentPage - 1})}"><i class="fa fa-angle-left"></i></a>
                    <a class="page-link" th:if="${currentPage <= 1}" readonly=""><i class="fa fa-angle-left"></i></a>
                  </li>
                  <li class="page-item" th:each="pageNumber : ${#numbers.sequence(1, totalPages)}">
                    <a class="page-link" th:href="@{/admin/product/page/{pageNo}(pageNo=${pageNumber})}" th:text="${pageNumber}"></a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{/admin/product/page/{pageNo}(pageNo=${currentPage + 1})}"><i class="fa fa-angle-right"></i></a>
                    <a class="page-link" th:if="${currentPage == totalPages}" readonly=""><i class="fa fa-angle-right"></i></a>
                  </li>
                </ul>
              </nav>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>>

